<app-modal id="form-modal" (modalClose)="modalClose($event)">
  <h1>{{ modalText }}</h1>
  <ng-container *ngIf="fields">
    <form [formGroup]="form">
      <div class="form-group">
        <ng-container
          *ngFor="let field of fields"
          appDynamicField
          [field]="field"
          [group]="form"
        >
        </ng-container>
      </div>
    </form>
  </ng-container>
  <button (click)="submitData($event)">Submit</button>
  <button (click)="cancel($event)">Cancel</button>
</app-modal>
